<h2>Регистрация</h2>
<form action="/reg" method="post">
  <div>
    <label>Имя:</label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label>Логин (email):</label>
    <input type="email" name="login" required>
  </div>
  <div>
    <label>Пароль:</label>
    <input type="password" name="pass" required>
  </div>
  <button type="submit">Зарегистрироваться</button>
</form>
